*{
    margin:0;
    padding: 0;
}
.center{
  width: 960px;
  margin: 0 auto;
  display: flex;
}
#product_show #product_img img{
    width: 670px;
}
#product_img{
    position: relative;
}
.left{
  float: left !important;
}
img{
    border: 0;
    vertical-align: top;
}
#product_show #product_intro{
    width: 270px;
    padding-bottom: 200px;
}
.right{
    float: right !important;
}
.clear{
    width: 100%;
    clear: both;
}

a {
    color: #000;
    cursor: pointer;
}
#product_show .brand {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    line-height: 35px;
}
#product_show .product_name, #product_show .product_name_en {
    font-size: 14px;
    color: #999;
    font-weight: normal;
    line-height: 20px;
}
#product_show .price-label {
    color: #004C46;
    font-size: 20px;
    margin-bottom: 5px;
    /* border-bottom:1px solid #E1E1E1; */
}

.open{
    padding: 10px 0;
    border-top:1px solid #E1E1E1;
    border-bottom:1px solid #E1E1E1;
    margin-bottom: 5px;
    margin-top:20px;
  }
.close{
        padding: 10px 0;
        /* border-top:1px solid #E1E1E1; */
        border-bottom:1px solid #E1E1E1;
        margin-bottom: 5px;
        margin-top:20px;
      }
.close .labels{
    border-top:1px solid #E1E1E1;
    max-height: 120px;
    margin-top: -5px;
}

.labels{
    position: relative;overflow: hidden;
  }
  .arrow{
    width: 10px;
    height: 6px;
    margin:0 auto;
    padding:5px;
  }
 
  .open .labels{
    max-height: 65px;
  }
.ht-pro-tips-tag div {
    float: left;
}
.ht-pro-tips-tag {
    margin-bottom: 5px;
}
.detail-icon-item {
    background: #537371;
    height: 17px;
    font-size: 12px;
    float: left;
    margin: 0 6px 0 0;
    line-height: 17px;
    padding: 0 4px;
    color: #fff;
}
.detail-tag-no-m{
   margin-top: 0px !important;
}
.ht-pro-tips-tag {
    margin-top: -15px;
    margin-bottom: 5px;
}
.clearfix, .row {
    zoom: 1;
}
p.required {
    font-size: 11px;
    text-align: left;
    color: #EB340A;
}
select{
    padding: 1px;
    box-shadow: 0 2px 0 #F3F3F3 inset;
    background:#fff;
    border:1px solid #b6b6b6;
    font: 12px/15px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #2f2f2f;
}
#product_show .cart{
    height: 30px;
     width: 270px; 
    background: #000;
    color:#fff;
    text-align: center;
    font: bold 16px/30px Arial,Helvetica,sans-serif;
    margin:10px 10px;
    cursor: pointer;
    padding-left: 0px;
    margin-left: -4px;
}
#product_show .add_link{
    height: 29px;
    width: 270px;
    background: #fff;
    color: #333;
    text-align: center;
    font:bold 16px/30px Arial,Helvetica,sans-serif;
    margin: 10px 10px;
    cursor: pointer;
    border: 1px solid #333;
    margin-left: -4px;
}
#product_show .block{
    margin-bottom: 35px;
}
.block{    margin:0 0 15px;}
#product_show .block h3{
    font-size: 13px;
    font-weight: lighter;
    font-family: "Times New Roman", "Microsoft YaHei", Times, serif, simhei;
    color: #212121;
    border-bottom: 1px solid black;
    display: block;
    height: 35px;
}
#product_show .block p{
color: #828282;
line-height: 1.5
}
.close .arrow {
    background: url(../images/details/close-labels.png) no-repeat;
    background-position: center center;
}
.open .arrow {
    background: url(../images/details/open-labels.png) no-repeat;
    background-position: center center;
} 
.arrow {
    width: 10px;
    height: 6px;
    margin: 0 auto;
    padding: 5px;
}
